<!--programando el "sobre mi"-->
<div id="title" class="image">

    <h1>{{title}}</h1>
    <!--se capturan todas del about.ts-->
    <h2>{{subtitle}}</h2>

    <p>{{email}}</p>
               <!-- mi foto-->
    <img class="float_left" [src]=image>   
    

   

<article class="about">
    <div>
    
</div>

    <h2>Sobre mi</h2>

 <p>
    A partir del año 2020 comencé a desarrollarme en la programación web. En 2021 decidí profundizar mis conocimientos estudiando por Udemy desarrollo web front-end. 
   <br> Siempre estoy dispuesto a aprender más y aportar soluciones a quienes lo necesiten. Me sigo perfeccionando en front-end, y estoy incursionando en back-end. 
    
</p>
                    
 <br>

     <h2>Conocimientos</h2>
     <ul>
         <li>Html</li>
         <li>Css</li>
         <li>Javascript</li>
         <li>Typescript</li>
         <li>Angular</li>
         <li>Node JS</li>
     </ul>
         <h2>Otros conocimientos</h2>
     <ul>
         <li>CMD</li>
         <li>Fotoshop</li>
         <li>Git (githud)</li>
        
        </ul>
          <br>

        <h2>Mis estudios</h2>
     
         <ul>
        
         <li>Curso desarrolo web front-end (Udemy) </li>
         <li>Autodidacta (youtube y páginas de desarrollo web)</li>

        </ul>
        
</article>
<br>